<div>
    <h1>Real Time Products</h1>

    <form id="formNewProduct">
        <input type="text" name="title" placeholder="Ingrese el nombre del producto" requerid>
        <input type="text" name="description" placeholder="Ingrese la descripcion del producto" requerid>
        <input type="text" name="code" placeholder="Ingrese el codigo del producto" requerid>
        <input type="number" name="price" placeholder="Ingrese el precio del producto" requerid>
        <input type="number" name="stock" placeholder="Ingrese el stock del producto" requerid>
        <input type="text" name="category" placeholder="Ingrese la categoria del producto" requerid>

        <button type="submit">enviar</button>

    </form>

    <h2>Lista de productos</h2>
    <ul id="productsList">
        {{#each products}}
            <li>{{this.title}} - {{this.price}}</li>
        {{/each}}
    </ul>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>